@import "../../styles_global/variables/variables.scss";

.search-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  font-size: 16px;
  background-color: $blackColorTransparent;

  .card {
    @include btnStyle(fit-content, 25rem, 0, 1em);
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2.5rem;

    text-align: center;
    text-transform: none;
  }

  .card::before {
    @include btnBefore(0.2em, 1em);
  }

  h1 {
    padding-bottom: 1.25rem;
  }

  p {
    padding-bottom: 1.25rem;
  }

  a {
    font-weight: 500;
    font-size: 1rem;
  }

  button {
    position: absolute;

    top: 0.8rem;
    right: 0.8rem;

    .material-icons {
      font-weight: 700;
    }
  }
}
