@import "../../styles_global/variables/variables.scss";

nav {
  @include generalFlexbox(center);

  .logo {
    width: 2rem;
  }

  a {
    display: inline-grid;

    margin: 1.5em 0 1.5em 2rem;
  }
}
