@import "../../styles_global/variables/variables.scss";

.welcome-text {
  width: 350px;
  text-align: right;

  h1 {
    padding: 80px 0 20px;
  }

  p {
    padding-bottom: 50px;
    text-align: end;
  }

  a {
    display: inline-block;
    position: relative;

    width: 300px;
    height: 35px;

    padding: 5px 0 0 10px;

    font-weight: 400;
    font-size: 20px;

    text-align: left;
    text-transform: uppercase;
  }

  a:before {
    @include btnBefore($btnBorder);
  }

  a:hover {
    font-weight: 500;
    color: $blackColor;
  }

  a:hover::before {
    z-index: -1;
    @include btnBefore($btnFill);
  }
}
