@import "../../styles_global/variables/variables.scss";

.welcome-text {
  width: 350px;
  text-align: right;

  h1 {
    padding: 80px 0 20px;
  }

  p {
    padding-bottom: 10px;
    text-align: end;
  }

  a {
    @include btnStyle(300px, 5px, 0, 0, 10px);
    margin-top: 40px;
  }

  a:before {
    @include btnBefore($btnBorder);
  }

  a:hover {
    @include btnHover;
  }

  a:hover::before {
    @include btnHoverBefore;
  }
}
