@import "../../styles_global/variables/variables.scss";

.home {
  @include generalFlexbox(flex-start);

  width: 100%;

  //----------MEDIA QUERY----------
  @media (width <= $breakpointLarge) {
    @include breakpointFlexbox;
  }
}

.home:before {
  content: "";
  position: fixed;
  z-index: -999;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: $blackColor;
  opacity: 0;

  animation: $disappear;
}
