@import "../../styles_global/variables/variables.scss";

.solar-system {
  position: relative;

  width: 57%;
  aspect-ratio: 1;
  overflow: hidden;

  background-color: $blackColor;

  //----------MEDIA QUERY----------
  @media (width <= $breakpointLarge) {
    width: 100%;
  }

  //----------SUN----------
  .sun {
    position: absolute;
    z-index: 2;

    width: 22%;
    aspect-ratio: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;

    background-color: $whiteColor;

    animation: popUpSun 0.5s ease-out;

    @keyframes popUpSun {
      from {
        width: 0;
      }
      to {
        width: 22%;
      }
    }
  }

  //----------MERCURY----------
  .mercury-orbit {
    //local variables
    $width: 26%;
    $rotation: 270deg;

    @include orbit($width, popUpMercury, 0.6s);

    .mercury {
      @include rotationCenter($rotation, orbitMercury, 90s);
    }

    .mercury:before {
      @include planet(16%);
    }

    @keyframes popUpMercury {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitMercury {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------VENUS----------
  .venus-orbit {
    //local variables
    $width: 32%;
    $rotation: 30deg;

    @include orbit($width, popUpVenus, 0.7s);

    .venus {
      @include rotationCenter($rotation, orbitVenus, 120s);
    }

    .venus:before {
      @include planet(16%);
    }

    @keyframes popUpVenus {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitVenus {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------EARTH----------
  .earth-orbit {
    //local variables
    $width: 39%;
    $rotation: 65deg;

    @include orbit($width, popUpEarth, 0.8s);

    .earth {
      @include rotationCenter($rotation, orbitEarth, 140s);
    }

    .earth:before {
      @include planet(12%);
    }

    @keyframes popUpEarth {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitEarth {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------MARS----------
  .mars-orbit {
    //local variables
    $width: 47%;
    $rotation: 135deg;

    @include orbit($width, popUpMars, 0.9s);

    .mars {
      @include rotationCenter($rotation, orbitMars, 160s);
    }

    .mars:before {
      @include planet(8%);
    }

    @keyframes popUpMars {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitMars {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------JUPITER----------
  .jupiter-orbit {
    //local variables
    $width: 62%;
    $rotation: 300deg;

    @include orbit($width, popUpJupiter, 1s);

    .jupiter {
      @include rotationCenter($rotation, orbitJupiter, 180s);
    }

    .jupiter:before {
      @include planet(20%);
    }

    @keyframes popUpJupiter {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitJupiter {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------SATURN----------
  .saturn-orbit {
    //local variables
    $width: 77%;
    $rotation: 0deg;
    $duration: 200s;

    @include orbit($width, popUpSaturn, 1.1s);

    .saturn,
    .ring {
      @include rotationCenter($rotation, orbitSaturn, $duration);
    }

    .saturn:before {
      @include planet(12%);
    }

    .ring:before {
      content: "";
      position: absolute;

      width: 18%;
      aspect-ratio: 6;

      top: 50%;
      left: 150%;
      transform: translate(-50%, -50%);

      border: solid 0.2em $whiteColor;
      border-radius: 50%;
      animation: ringSaturn $duration linear infinite;
    }

    @keyframes popUpSaturn {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitSaturn {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }

    @keyframes ringSaturn {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation + 360deg));
      }
    }
  }

  //----------URANUS----------
  .uranus-orbit {
    //local variables
    $width: 89%;
    $rotation: 145deg;

    @include orbit($width, popUpUranus, 1.2s);

    .uranus {
      @include rotationCenter($rotation, orbitUranus, 220s);
    }

    .uranus:before {
      @include planet(7%);
    }

    @keyframes popUpUranus {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitUranus {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }

  //----------NEPTUNE----------
  .neptune-orbit {
    //local variables
    $width: 97%;
    $rotation: 200deg;

    @include orbit($width, popUpNeptune, 1.3s);

    .neptune {
      @include rotationCenter($rotation, orbitNeptune, 240s);
    }

    .neptune:before {
      @include planet(6%);
    }

    @keyframes popUpNeptune {
      from {
        width: 0;
      }
      to {
        width: $width;
      }
    }

    @keyframes orbitNeptune {
      from {
        transform: translate(-50%, -50%) rotate($rotation);
      }

      to {
        transform: translate(-50%, -50%) rotate(calc($rotation - 360deg));
      }
    }
  }
}
