.solar-system {
  position: relative;
  width: 57%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: rgb(5, 5, 5);
}
.solar-system .sun {
  position: absolute;
  z-index: 2;
  width: 22%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
  animation: popUpSun 0.5s ease-out;
}
@keyframes popUpSun {
  from {
    width: 0;
  }
  to {
    width: 22%;
  }
}
.solar-system .mercury-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 26%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpMercury 0.6s ease-out;
}
.solar-system .mercury-outline .mercury {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  animation: appear 2.8s ease-in-out, orbit 90s linear infinite;
}
.solar-system .mercury-outline .mercury:before {
  content: "";
  position: absolute;
  display: block;
  width: 15%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpMercury {
  from {
    width: 0;
  }
  to {
    width: 26%;
  }
}
.solar-system .venus-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 32%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpVenus 0.7s ease-out;
}
.solar-system .venus-outline .venus {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: appear 2.8s ease-in-out, orbit 120s linear infinite;
}
.solar-system .venus-outline .venus:before {
  content: "";
  position: absolute;
  display: block;
  width: 16%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpVenus {
  from {
    width: 0;
  }
  to {
    width: 32%;
  }
}
.solar-system .earth-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 39%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpEarth 0.8s ease-out;
}
.solar-system .earth-outline .earth {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(65deg);
  animation: appear 2.8s ease-in-out, orbit 140s linear infinite;
}
.solar-system .earth-outline .earth:before {
  content: "";
  position: absolute;
  display: block;
  width: 12%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpEarth {
  from {
    width: 0;
  }
  to {
    width: 39%;
  }
}
.solar-system .mars-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 47%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpMars 0.9s ease-out;
}
.solar-system .mars-outline .mars {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  animation: appear 2.8s ease-in-out, orbit 160s linear infinite;
}
.solar-system .mars-outline .mars:before {
  content: "";
  position: absolute;
  display: block;
  width: 8%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpMars {
  from {
    width: 0;
  }
  to {
    width: 47%;
  }
}
.solar-system .jupiter-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 62%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpJupiter 1s ease-out;
}
.solar-system .jupiter-outline .jupiter {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(300deg);
  animation: appear 2.8s ease-in-out, orbit 180s linear infinite;
}
.solar-system .jupiter-outline .jupiter:before {
  content: "";
  position: absolute;
  display: block;
  width: 20%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpJupiter {
  from {
    width: 0;
  }
  to {
    width: 62%;
  }
}
.solar-system .saturn-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 77%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpSaturn 1.1s ease-out;
}
.solar-system .saturn-outline .saturn,
.solar-system .saturn-outline .ring {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  animation: appear 2.8s ease-in-out, orbit 200s linear infinite;
}
.solar-system .saturn-outline .saturn:before {
  content: "";
  position: absolute;
  display: block;
  width: 12%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
.solar-system .saturn-outline .ring:before {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 6;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border: solid 0.2rem rgb(225, 225, 225);
  border-radius: 50%;
  animation: ringBalance 200s linear infinite;
}
@keyframes popUpSaturn {
  from {
    width: 0;
  }
  to {
    width: 77%;
  }
}
@keyframes ringBalance {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.solar-system .uranus-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 89%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpUranus 1.2s ease-out;
}
.solar-system .uranus-outline .uranus {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(145deg);
  animation: appear 2.8s ease-in-out, orbit 220s linear infinite;
}
.solar-system .uranus-outline .uranus:before {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpUranus {
  from {
    width: 0;
  }
  to {
    width: 89%;
  }
}
.solar-system .neptune-outline {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 97%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.05rem rgb(225, 225, 225);
  animation: popUpNeptune 1.3s ease-out;
}
.solar-system .neptune-outline .neptune {
  position: absolute;
  overflow: visible;
  width: 50%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(200deg);
  animation: appear 2.8s ease-in-out, orbit 240s linear infinite;
}
.solar-system .neptune-outline .neptune:before {
  content: "";
  position: absolute;
  display: block;
  width: 6%;
  aspect-ratio: 1;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
@keyframes popUpNeptune {
  from {
    width: 0;
  }
  to {
    width: 97%;
  }
}

@keyframes orbit {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}/*# sourceMappingURL=solarSystem.css.map */