@import "../../styles_global/variables/variables.scss";

//this file applies to NavButtons.jsx and PaginationButtons.jsx in the search folder

.apod-btns {
  @include generalFlexbox(flex-start);

  width: 32rem;
  height: 2rem;

  margin-top: 1.5rem;

  //NavButtons.jsx
  a {
    @include btnStyle(11rem, 0.25rem, 0, 0.3rem, 0.5rem);
  }

  //PaginationButtons.jsx
  button {
    @include btnStyle(11rem, 0.25rem, 0, 0.3rem, 0.5rem);
  }

  a:before,
  button:before {
    @include btnBefore($btnBorder);
  }

  a:hover,
  button:hover {
    @include btnHover;
  }

  a:hover::before,
  button:hover::before {
    @include btnHoverBefore;
  }
}
