@import "../../styles_global/variables/variables.scss";

//this file applies to NavButtons.jsx and PaginationButtons.jsx in the search folder

.apod-btns {
  @include generalFlexbox(flex-start);

  max-width: 32rem;

  margin-top: 1.5rem;

  font-size: 16px;

  a,
  button {
    @include btnStyle(2.5em, 14em, 1em, $edge-size);

    font-size: 1em;
    font-weight: 700;

    .text-mobile {
      display: none;
    }

    .material-icons {
      color: $whiteColor;
      font-size: 0.75rem;
    }
  }

  a::before,
  button::before {
    @include btnBefore($border-width, $edge-size);
  }

  a:hover,
  button:hover {
    color: $blackColor;
  }

  a:hover::before,
  button:hover::before {
    @include btnHover($edge-size);
  }

  .disabled {
    pointer-events: none;
    color: grey;
    background-color: grey;

    .material-icons {
      color: grey;
    }
  }
}

//----------MEDIA QUERY----------
@media (width <= $breakpointLarge) {
  .apod-btns {
    @include generalFlexbox(center);

    max-width: 100%;
  }
}

@media (width <= $breakpointMedium) {
  .apod-btns {
    a,
    button {
      @include btnStyle(2em, 6em, 0, $edge-size);
      justify-content: center;

      .text-mobile {
        display: inline-flex;
      }

      .btn-text {
        display: none;
      }
    }
  }
}
