@import "../../styles_global/variables/variables.scss";

.apod-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 640px;
  height: 40px;

  margin-top: 30px;

  a {
    position: relative;

    width: 220px;
    height: 35px;

    padding: 5px 0 0 10px;

    font-weight: 400;
    font-size: 20px;

    text-transform: uppercase;
  }

  a:before {
    @include btnBefore($btnBorder);
  }
}
