@import "../../styles_global/variables/variables.scss";

.card-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: 10;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  font-size: 16px;

  background-color: $blackColorTransparent;

  .apod-card {
    @include btnStyle(fit-content, 57.2rem, 0, 1em);

    display: flex;
    justify-content: center;

    margin-top: 2.5rem;

    text-transform: capitalize;

    .apod {
      width: 100%;
      padding: 3rem;
    }

    button {
      position: absolute;

      width: 1.5rem;
      aspect-ratio: 1;

      top: 0.7rem;
      right: 0.7rem;

      .material-icons {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }

  .apod-card::before {
    @include btnBefore(0.2em, 1em);
  }
}
