@import "../../styles_global/variables/variables.scss";

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;

  margin: 0 auto;

  h1 {
    align-self: flex-end;

    padding-top: 40px;
  }
}
