@import "./variables/variables.scss";

body {
  margin: 0 110px;
  font-family: $mainFont;
  background-color: $blackColor;
  color: $whiteColor;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

h2 {
  font-size: 12px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
}

//----------GLOBAL ANIMATION----------
@keyframes appearHome {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
