//----------COLORS----------
$blackColor: rgb(5, 5, 5);
$blackColorTransparent: rgba(5, 5, 5, 0.5);
$whiteColor: rgb(225, 225, 225);

//----------FONTS----------
$mainFont: "Montserrat", sans-serif;
$numberFont: "Orbitron", sans-serif;

//----------GENERAL FLEXBOX----------
@mixin generalFlexbox($align-items) {
  display: flex;
  justify-content: space-between;
  align-items: $align-items;
}

//----------MEDIA QUERY----------

//tablet/mobile view breakpoint
$breakpointLarge: 62.5em;
$breakpointMedium: 32.5em;
$breakpointSmall: 29em;

//general flexbox under breakpoint
@mixin breakpointFlexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//----------HOME PAGE ANIMATIONS----------

//planets appear
$appear: appear 2.8s ease-in-out;

//background disappears
$disappear: disappear 2.8s ease-in-out;

//-----keyframes in global.scss-----

//----------BUTTONS----------

//variables to set border
$border-width: 0.15em;
$edge-size: 0.5em;

//button properties
@mixin btnStyle($block-size, $width, $padding-left, $edge-size) {
  display: inline-flex;
  align-items: center;

  position: relative;
  isolation: isolate;

  block-size: $block-size;
  inline-size: $width;

  padding-left: $padding-left;

  border: none;

  text-transform: uppercase;

  background-color: $whiteColor;

  @media (prefers-color-scheme: dark) {
    background-color: $whiteColor;
  }

  clip-path: polygon(
    0 0,
    calc(100% - $edge-size) 0,
    100% $edge-size,
    100% 100%,
    0 100%
  );
}

//btn ::before properties
@mixin btnBefore($border-width, $edge-size) {
  content: "";
  position: absolute;

  inset: 0;

  background-color: $blackColor;

  z-index: -2;

  clip-path: polygon(
    $border-width $border-width,
    calc(100% - $edge-size - $border-width * 0.5) $border-width,
    calc(100% - $border-width) calc($edge-size + $border-width * 0.5),
    calc(100% - $border-width) calc(100% - $border-width),
    $border-width calc(100% - $border-width)
  );
}

//btn-hover properites
@mixin btnHover($edge-size) {
  background-color: $whiteColor;

  @media (prefers-color-scheme: dark) {
    background-color: $whiteColor;
  }

  clip-path: polygon(
    0 0,
    calc(100% - $edge-size) 0,
    100% $edge-size,
    100% 100%,
    0 100%
  );
}

//----------SOLAR SYSTEM----------

//planet orbit
@mixin orbit($width, $animationName, $animationDuration) {
  position: absolute;

  z-index: 2;
  overflow: visible;

  width: $width;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: solid 0.09rem $whiteColor;
  animation: $animationName $animationDuration ease-out;
}

//planet - rotation center
@mixin rotationCenter($deg, $name, $length) {
  position: absolute;
  overflow: visible;

  width: 50%;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($deg);

  animation: $appear, $name $length linear infinite;
}

//planet - on ::before
@mixin planet($width) {
  content: "";
  position: absolute;
  display: block;

  width: $width;
  aspect-ratio: 1;

  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background-color: $whiteColor;
}

//----------EXPLORATION /ABOUT PAGE----------

//stars animation
@mixin animationHint($name) {
  animation: $name 8s infinite;
}

//star ::before element
@mixin starBefore($content) {
  content: $content;

  position: absolute;

  width: max-content;

  transform: translateY(-100%);

  padding-left: 1.5rem;

  font-size: 0.6rem;
  font-weight: 400;

  color: $whiteColor;

  opacity: 0;
}
