//----------COLORS----------
$blackColor: rgb(5, 5, 5);
$blackColorTransparent: rgba(5, 5, 5, 0.5);
$whiteColor: rgb(225, 225, 225);

//----------FONTS----------
$mainFont: "Montserrat", sans-serif;
$numberFont: "Orbitron", sans-serif;

//----------GENERAL FLEXBOX----------
@mixin generalFlexbox($align-items) {
  display: flex;
  justify-content: space-between;
  align-items: $align-items;
}

//----------HOME PAGE ANIMATIONS----------

//planets appear
$appear: appear 2.8s ease-in-out;

//background disappears
$disappear: disappear 2.8s ease-in-out;

//-----keyframes in global.scss-----

//----------BUTTONS----------

//button/NavLink properties
@mixin btnStyle($width, $top, $right, $bottom, $left) {
  display: block;
  position: relative;

  width: $width;

  padding: $top $right $bottom $left;

  font-weight: 400;
  font-size: 1rem;

  text-align: left;
  text-transform: uppercase;
}

//button/NavLink hover properties
@mixin btnHover {
  font-weight: 500;
  color: $blackColor;
}

@mixin btnHoverBefore {
  z-index: -1;
  @include btnBefore($btnFill);
}

//clip-path - for button border
$btnBorder: polygon(
  0 0,
  calc(100% - 0.3rem) 0,
  100% 0.3rem,
  100% 100%,
  0 100%,
  0 0,
  0.05rem 0.05rem,
  0.05rem calc(100% - 0.05rem),
  calc(100% - 0.05rem) calc(100% - 0.05rem),
  calc(100% - 0.05rem) calc(0.3rem + 0.041rem),
  calc(100% - 0.3rem - 0.041rem) 0.05rem,
  0.05rem 0.05rem
);

//clip-path - for button fill /hover and active/
$btnFill: polygon(0 0, calc(100% - 0.3rem) 0, 100% 0.3rem, 100% 100%, 0 100%);

//button/NavLink design - on ::before
@mixin btnBefore($clipPath) {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $whiteColor;
  clip-path: $clipPath;
}

//----------SOLAR SYSTEM----------

//outline
@mixin outline($width, $widthBorder) {
  position: absolute;

  z-index: 2;
  overflow: visible;

  width: $width;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: solid $widthBorder $whiteColor;
}

//planet - rotation center
@mixin rotationCenter($deg, $length) {
  position: absolute;
  overflow: visible;

  width: 50%;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($deg);

  animation: $appear, orbit $length linear infinite;
}

//planet - on ::before
@mixin planet($width) {
  content: "";
  position: absolute;
  display: block;

  width: $width;
  aspect-ratio: 1;

  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background-color: $whiteColor;
}

//----------EXPLORATION /ABOUT PAGE----------

//stars animation
@mixin animationHint($name) {
  animation: $name 8s infinite;
}

//star ::before element
@mixin starBefore($content) {
  content: $content;

  position: absolute;

  width: max-content;

  transform: translateY(-100%);

  padding-left: 1.5rem;

  font-size: 0.6rem;
  font-weight: 400;

  color: $whiteColor;

  opacity: 0;
}
