//----------COLORS----------
$blackColor: rgb(5, 5, 5);
$whiteColor: rgb(225, 225, 225);

//----------FONTS----------
$mainFont: "Montserrat", sans-serif;
$numberFont: "Orbitron", sans-serif;

//----------GENERAL VISUAL-TEXT FLEXBOX
@mixin generalFlexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

//----------HOME PAGE ANIMATIONS----------

//planets appear
$appear: appear 2.8s ease-in-out;

//background disappears
$disappear: disappear 2.8s ease-in-out;

//-----keyframes in global.scss-----

//----------BUTTONS----------

//button/NavLink properties
@mixin btnStyle($width, $top, $right, $bottom, $left) {
  display: inline-block;
  position: relative;

  width: $width;
  height: 35px;

  padding: $top $right $bottom $left;

  font-weight: 400;
  font-size: 20px;

  text-align: left;
  text-transform: uppercase;
}

//button/NavLink hover properties
@mixin btnHover {
  font-weight: 500;
  color: $blackColor;
}

@mixin btnHoverBefore {
  z-index: -1;
  @include btnBefore($btnFill);
}

//clip-path - for button border
$btnBorder: polygon(
  0 0,
  calc(100% - 6px) 0,
  100% 6px,
  100% 100%,
  0 100%,
  0 0,
  1px 1px,
  1px calc(100% - 1px),
  calc(100% - 1px) calc(100% - 1px),
  calc(100% - 1px) calc(6px + 0.41px),
  calc(100% - 6px - 0.41px) 1px,
  1px 1px
);

//clip-path - for button fill /hover and active/
$btnFill: polygon(0 0, calc(100% - 6px) 0, 100% 6px, 100% 100%, 0 100%);

//button/NavLink design - on ::before
@mixin btnBefore($clipPath) {
  content: "";
  position: absolute;
  inset: 0;
  background-color: $whiteColor;
  clip-path: $clipPath;
}

//----------SOLAR SYSTEM----------

//outline
@mixin outline($width, $widthBorder) {
  position: absolute;

  z-index: 2;
  overflow: visible;

  width: $width;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: solid $widthBorder $whiteColor;
}

//planet - rotation center
@mixin rotationCenter($deg, $length) {
  position: absolute;
  overflow: visible;

  top: 50%;
  left: 50%;
  transform: rotate($deg);

  animation: $appear, orbit $length linear infinite;
}

//planet - on ::before
@mixin planet($width, $left) {
  content: "";
  position: absolute;

  width: $width;
  aspect-ratio: 1;

  left: $left;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background-color: $whiteColor;
}
