.exploration {
  position: relative;
  overflow: visible;
  width: 30rem;
  height: 20rem;
}
.exploration img {
  position: absolute;
  width: 10rem;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  animation: floating 8s ease-in-out infinite;
}
@keyframes floating {
  50% {
    transform: translate(-50%, -47%) rotate(-7deg);
  }
}
.exploration .star {
  position: absolute;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}
.exploration #star-01 {
  width: 0.5rem;
  top: 10%;
  left: 20%;
  animation: hint-01 8s infinite;
}
@keyframes hint-01 {
  10% {
    width: 0.5rem;
  }
  15% {
    width: 1rem;
  }
  20% {
    width: 0.5rem;
  }
}
.exploration #star-02 {
  width: 0.6rem;
  top: 20%;
  left: 60%;
  animation: hint-02 8s infinite;
}
@keyframes hint-02 {
  70% {
    width: 0.6rem;
  }
  75% {
    width: 1.1rem;
  }
  80% {
    width: 0.6rem;
  }
}
.exploration #star-03 {
  width: 0.7rem;
  top: 60%;
  left: 5%;
  animation: hint-03 8s infinite;
}
@keyframes hint-03 {
  50% {
    width: 0.7rem;
  }
  55% {
    width: 1.2rem;
  }
  60% {
    width: 0.7rem;
  }
}
.exploration #star-04 {
  width: 0.8rem;
  top: 90%;
  left: 30%;
  animation: hint-04 8s infinite;
}
@keyframes hint-04 {
  90% {
    width: 0.8rem;
  }
  95% {
    width: 1.3rem;
  }
  100% {
    width: 0.8rem;
  }
}
.exploration #star-05 {
  width: 0.9rem;
  top: 75%;
  left: 85%;
  animation: hint-05 8s infinite;
}
@keyframes hint-05 {
  30% {
    width: 0.9rem;
  }
  35% {
    width: 1.4rem;
  }
  40% {
    width: 0.9rem;
  }
}
.exploration #star-01:before {
  content: "registration and login";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-100%);
  padding-left: 1.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(225, 225, 225);
  opacity: 0;
}
.exploration #star-02:before {
  content: "save and share favorites";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-100%);
  padding-left: 1.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(225, 225, 225);
  opacity: 0;
}
.exploration #star-03:before {
  content: "light and dark mode";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-100%);
  padding-left: 1.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(225, 225, 225);
  opacity: 0;
}
.exploration #star-04:before {
  content: "tablet and mobile view";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-100%);
  padding-left: 1.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(225, 225, 225);
  opacity: 0;
}
.exploration #star-05:before {
  content: "gallery pagination";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(-100%);
  padding-left: 1.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(225, 225, 225);
  opacity: 0;
}
.exploration #star-01:hover,
.exploration #star-02:hover,
.exploration #star-03:hover,
.exploration #star-04:hover,
.exploration #star-05:hover {
  overflow: visible;
  width: 1rem;
  border: 0.15rem solid rgb(225, 225, 225);
  background-color: transparent;
  animation: none;
}
.exploration #star-01:hover::before,
.exploration #star-02:hover::before,
.exploration #star-03:hover::before,
.exploration #star-04:hover::before,
.exploration #star-05:hover::before {
  opacity: 1;
}/*# sourceMappingURL=exploration.css.map */