@import "../../styles_global/variables/variables.scss";

.exploration {
  position: relative;

  overflow: visible;

  width: 30rem;
  height: 20rem;

  //----------ASTRONAUT----------
  img {
    position: absolute;

    width: 10rem;
    aspect-ratio: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);

    animation: floating 8s ease-in-out infinite;
  }

  @keyframes floating {
    50% {
      transform: translate(-50%, -47%) rotate(-7deg);
    }
  }

  //----------STARS----------
  .star {
    position: absolute;

    aspect-ratio: 1;

    transform: translate(-50%, -50%);

    border-radius: 50%;

    cursor: pointer;

    background-color: $whiteColor;
  }

  //----------FIRST STAR----------
  #star-01 {
    width: 0.5rem;

    top: 10%;
    left: 20%;

    @include animationHint(hint-01);
  }

  @keyframes hint-01 {
    10% {
      width: 0.5rem;
    }

    15% {
      width: 1rem;
    }

    20% {
      width: 0.5rem;
    }
  }

  //----------SECOND STAR----------
  #star-02 {
    width: 0.6rem;

    top: 20%;
    left: 60%;

    @include animationHint(hint-02);
  }

  @keyframes hint-02 {
    70% {
      width: 0.6rem;
    }

    75% {
      width: 1.1rem;
    }

    80% {
      width: 0.6rem;
    }
  }

  //----------THIRD STAR----------
  #star-03 {
    width: 0.7rem;

    top: 60%;
    left: 5%;

    @include animationHint(hint-03);
  }

  @keyframes hint-03 {
    50% {
      width: 0.7rem;
    }

    55% {
      width: 1.2rem;
    }

    60% {
      width: 0.7rem;
    }
  }

  //----------FOURTH STAR----------
  #star-04 {
    width: 0.8rem;

    top: 90%;
    left: 30%;

    @include animationHint(hint-04);
  }

  @keyframes hint-04 {
    90% {
      width: 0.8rem;
    }

    95% {
      width: 1.3rem;
    }

    100% {
      width: 0.8rem;
    }
  }

  //----------FIFTH STAR----------
  #star-05 {
    width: 0.9rem;

    top: 75%;
    left: 85%;

    @include animationHint(hint-05);
  }

  @keyframes hint-05 {
    30% {
      width: 0.9rem;
    }

    35% {
      width: 1.4rem;
    }

    40% {
      width: 0.9rem;
    }
  }

  //----------STAR BEFORE ELEMENTS----------
  #star-01:before {
    @include starBefore("registration and login");
  }

  #star-02:before {
    @include starBefore("save and share favorites");
  }

  #star-03:before {
    @include starBefore("light and dark mode");
  }

  #star-04:before {
    @include starBefore("tablet and mobile view");
  }

  #star-05:before {
    @include starBefore("gallery pagination");
  }

  //----------STAR HOVERS----------
  #star-01:hover,
  #star-02:hover,
  #star-03:hover,
  #star-04:hover,
  #star-05:hover {
    overflow: visible;

    width: 1rem;

    border: 0.15rem solid $whiteColor;

    background-color: transparent;

    animation: none;
  }

  #star-01:hover::before,
  #star-02:hover::before,
  #star-03:hover::before,
  #star-04:hover::before,
  #star-05:hover::before {
    opacity: 1;
  }
}
